/* Stylesheet for the JS-TACG client
 * Author: Son Gohan (son.gohan.mt2@gmail.com)
 * License: GNU GPL v3
 */
.parname {
	font-weight: bold;
	color: #000066;
	border: 2px ridge blue;
	background-color: #DDDDFF;
	display: inline-block;
	width: 100px;
	text-align: center;
} 
.resname {
	font-weight: bold;
	font-size: 70%;
	color: green;
	border: 2px ridge green;
	background-color: #DDFFDD;
	display: inline-block;
	width: 100px;
	text-align: center;
} 
.resetbutton {
	margin:  0px 15px;
	width: 90px;
	height: 45px;
	float: right;
	font-weight: bold;
	color: #000066;
	border-radius: 8px;
	background-color: #DDDDFF;
	border-color: blue;
}
#container {
	overflow: hidden;
}
#header {
	text-align: center;
	color: #000066;
	background-color: #CCCCFF;
	padding: 1px 0px;
}
#pg_parameters {
	float: left;
	width: 45%;
	padding: 2px;
	/*border: 1px dashed; */
}
#pg_parameters input {
	color: #000066;
}
#pg_parameters p {
	padding: 1px 0px 1px 1px;
	margin: 1px 0px 1px 1px;
	height: 25px;
}
#pg_main_prop {
	display: table;
	width: auto;
	padding: 3px;
	background-color: #AAFFAA;
}
#status_table input {
	width: 50px;
	padding: 1px;
}
#status_table th.resname {
	font-size: 100%;
}
#quests {
	width: auto;
	overflow: hidden;
	margin: 0px 0px 0px 5px;
	padding: 3px;
	/*border: 1px dashed;*/
}
#quests input + label {
	display: inline-block;
	width: 160px;
	padding: 1px;
}
#quests input[type="checkbox"]:checked + label {
	background-color: #AAFFAA;
}
#weapon {
	width: 350px;
	overflow: hidden;
	/*border: 1px dashed;*/
	margin: 10px 0px 10px 5px;
	padding: 20px 10px;
	text-align: center;
}
#results {
	width: 90%;
	margin: 5px;
	text-align: center;
	/*border: 1px solid #000066;*/
}
#results_table {
	width: 100%;
	vertical-align: middle;
}
#results_table th {
	display: table-cell;
	vertical-align: middle;
	width: 120px;
	height: 40px;
	padding: 1px;
	margin: 3px;
}
#results_table td {
	display: table-cell;
	color: #004400;
	vertical-align: middle;
	border: 2px ridge #004400;
	width: 80px;
	height: 40px;
	padding: 1px;
	margin: 3px;
}
#bonus {
	float: left;
	width: 100%;
	margin: 5px 0px;
	/*border: 1px dashed blue;*/
}
#bonus_table {
	display: inline-block;
	text-align: center;
	border-spacing: 5px 1px;
	/*border: 1px dashed;*/
	width: auto;
}
#bonus_table .parname {
	width: 200px;
}
#bonus_table input {
	display: inline-block;
	width: 50px;
}
#enemyskill {
	position: absolute;
	display: inline-block;
	text-align: left;
	/*border: 1px dashed;*/
	width: auto;

}
#enemyskill {
	background-color: #FFFF77;
	padding: 3px;
}
#enemyskill span.label {
	display: inline-block;
	width: 70px;
}
#enemyskill input[type="text"] {
	width: 50px;
}
#enemyskill input[type="radio"]:checked + label {
	font-weight: bold;
}
