/* Stylesheet for the AJAX-TACG client
 * by Son Gohan
 */
.parname {
	font-weight: bold;
	color: #000066;
	border: 2px ridge blue;
	background-color: #DDDDFF;
	display: inline-block;
	width: 100px;
	text-align: center;
} 
#container {
	overflow: hidden;
}
#header {
	text-align: center;
	background-color: #CCCCFF;
}
#pg_parameters {
	float: left;
	width: auto;
	padding: 2px;
	/*border: 1px dashed; */
}
#pg_parameters p {
	padding: 1px 0px 1px 1px;
	margin: 1px 0px 1px 1px;
	height: 25px;
}
#pg_main_prop {
	padding: 3px;
	background-color: #AAFFAA;
}
#status_table input {
	width: 50px;
	padding: 1px;
}
#quests {
	width: auto;
	overflow: hidden;
	margin: 0px 0px 0px 5px;
	padding: 3px;
	/*border: 1px dashed;*/
}
#quests input + label {
	display: inline-block;
	width: 160px;
	padding: 1px;
}
#quests input[type="checkbox"]:checked + label {
	background-color: #AAFFAA;
}
#weapon {
	width: 350px;
	overflow: hidden;
	/*border: 1px dashed;*/
	margin: 10px 0px 10px 5px;
	padding: 20px 10px;
	text-align: center;
}
#bonus {
	float: left;
	width: 100%;
	margin: 5px 0px;
	/*border: 1px dashed blue;*/
}
#bonus_table {
	display: inline-block;
	text-align: center;
	border-spacing: 5px 1px;
	/*border: 1px dashed;*/
	width: auto;
}
#bonus_table .parname {
	width: 200px;
}
#bonus_table input {
	display: inline-block;
	width: 50px;
}
#enemyskill {
	position: absolute;
	display: inline-block;
	text-align: left;
	/*border: 1px dashed;*/
	width: auto;

}
#enemyskill span.label {
	display: inline-block;
	width: 100px;
}
#enemyskill input[type="text"] {
	width: 50px;
}
